
.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1; /*For IE 6&7 only*/
}


.header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 56px;
  background-color: #fff;
  // padding: 26px 0 10px 0;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;

  &.sticky {
    width: 100%;
    position: fixed;
    background-color: rgba($color: #FFF, $alpha:0.8);
    backdrop-filter: blur(2px);
    top: 0;
    box-shadow: 0 0px 5px rgba(215,0,54,0.24);
  }

  .EZcareers-logo {
    display: inline-block;
    float: left;
    min-width: 265px;

    a.EZlogo {
      display: inline-block;
      width: 134px;
      height: 55px;
      background: url("../img/logo.png")no-repeat center; 
      // margin-left: 15px;
    }
    h1 {
      float: right;
      color: #FFF;
      font-size: 1.5em;
      font-weight: 400;
      padding-left: 15px;
      border-left: 1px solid #FFF;
      margin: 23px 0 0 18px;
    }
  }

  nav {
    position: relative;

    >ul {
      float: right;
      margin-top: 25px;
      // text-transform: uppercase;  //強制英文大寫

      li {
        position: relative;
        display: block;
        float: left;
        margin-right: 2em;
        &:before {
          margin-top: -6px;
          font-size: 18px;
          display: inline-block;
          position: absolute;
          top: 6px;
          left: 0;
          color: #E2E2E2;
        }

        a {
          padding-left: 23px;
          color: #E2E2E2;
          font-size: 1.125em;
          i {
            color: #E2E2E2;
            font-size: 0.8em;
            padding-right: 2px;
          }

        }

        a:hover {
          color: #FFF;
          i {
            color: #FFF;
          }
        }

      }
    }
    .mobile-nav-btn {
      display: none;
      font-size: 2.5em;
      float: right;
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin:10px;
      color: #ccc;

    }
  }
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  
  .head-banner {
      width: 100%;
      height: 600px;
      display: table;
      background: #4A4A4A url("../img/EZcareers-banner.jpg")no-repeat center top;
      background-size: cover;

      .top-title {
        display: table-cell;
        overflow: hidden;
        position: relative;
        vertical-align: middle;
        width: 1000px;
        z-index: 2;
        text-align: center;
        color: #ff6706;
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5em;

        .text {
          fill: url(#p-fire);
          // stroke: #330000;
          stroke-width: 8;
          stroke-opacity: .5;
          font-size: 56px;
          font-weight: 700;
          font-family: "Noto Sans T Chinese","Noto Sans TC","Microsoft JhengHei",helvetica,sans-serif;
          text-shadow: 2px 2px 10px;
        }

        svg {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          font-size: 100%;
          small {
            margin-top: 200px;
            display: block;
            color: #ff6706;
            font-family: 'Ubuntu', sans-serif;

          }

          span {
            color: #ccc;
            font-size: 1.125em;
            display: block;
            margin-top: 5px;
            font-family: 'Ubuntu', sans-serif;
          }
        }

        h2 {
          fill: url(#p-fire);
          font-size: 4.5em;
          text-shadow: 2px 3px 2px #000;
          padding: 20px 0 10px 50px;
          color: #ff6706;
        }

        small {
            display: block;
            color: #ff6706;

          }

        span {
          color: #ccc;
          font-size: 1.5em;
          display: block;
          margin-top: 5px;
          font-family: 'Ubuntu', sans-serif;
        }

        #nn-title {
          &.down {
            margin-top: 150px;
          }
        }
      }
  }

  main {
    margin-bottom: 50px;

    #section-01,#section-02 { 
      padding: 3em 0 1em;
        
      h2 {
        font-size: 1.5em;
        color: #4A4A4A;
        // text-align: center;
        margin-bottom: 30px;
      }

    }

    #section-01 {
      // text-align: center;
      ul {
        // padding-bottom: 20px;
        line-height: 30px;
        font-size: 1.1em;
        list-style: inherit;
        li {
          margin-left: 20px;
        }
      }
    }

    #section-02 {

      ul.jobs-list {
        margin:10px 0;

        > li {
          position: relative;
          margin-bottom: 1em;
          border: 1px solid #979797;
          border-radius: 5px;
          padding: 20px 0 20px 25px;
          letter-spacing: 1px;
          cursor: pointer;

          i {
            font-size: 2.2em;
            cursor: pointer;
            float: right;
            margin-right: 5px;

            &:before {
              -webkit-transition: all ease-in-out 0.3s;
              -moz-transition: all ease-in-out 0.3s;
              transition: all ease-in-out 0.3s;
              // position: absolute;
              // right: 10px;
              // font-size: 2.2em;
              // top: 15px;
              // cursor: pointer;
             
            }
          }

          &.gray-bg {
          background: #F4F4F4;
            h3 {
              color: #4A4A4A;
              font-weight: 500;
            }
          
          }
          .job-title {
              float: left;
              display: inline-block;
            > h3 {
              font-size: 1.5em;
              font-weight: 300;
              color: #777;
              // display: inline-block;
              margin-bottom: 10px;
              // width: 80%;
              // float: left;
            }
          }
          article {
            display: none;
            margin: 20px 0 10px;
            line-height: 25px;
            font-size: 1em;
            color: #777;
            font-weight: 300;
            padding-right: 20px;
            float: left;
            width: 90%;

            ol {
              list-style: initial;
              list-style-type: decimal;
              list-style-position: inside;
              margin: 10px 0; 

              li {
                color: #777;
              }
            }

            strong {
              color: #777;
            }
          }

        }
      }
    }
  }

  a.join-btn {
    display: block;
    width: 150px;
    margin: 0 auto;
    border-radius: 5px;
    border: 3px solid #5a5a5a;;
    padding: 15px 30px;
    color: #5a5a5a;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }
  a.join-btn:hover {
    background: #5a5a5a;
    color: #fff;
  }

  footer {
    background: #F4F4F4;
    width: 100%;
    padding: 30px 0 40px;
    text-align: center;

    .share-btns {
      margin: 0 auto 20px;
        a {
          width: 60px;
          padding: 0px 10px;
          // color: #ccc;
          background: #fff;
          border: 1px solid #5a5a5a;
          font-size: 1em;
          border-radius: 2px; 
          // height: 25px;
          line-height: 25px;
          margin-right: 10px;
          // float: left;
          display: inline-block;
          -webkit-transition: all ease-in-out 0.3s;
          -moz-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;

          &.fb-btn:before {
            padding-top: 5px;
            padding-right: 3px;
            float: left;
            color: #1875d1;
          }
          .line-btn {
            float: left;
            width: 17px;
            margin: 4px 4px 4px 0; 
            fill:#00C200;
          }

          &:hover {
            background: #5a5a5a;

            span {
              color: #fff;
            }

            svg.u7, svg.line-btn {
              fill:#fff;
            }

            &:before {
              color: #fff;
            }
          }

          span {
            color: #666;
            font-size: 14px;
            line-height: 20px;
          }
          svg.u7 {
            float: left;
            // padding-top:3px;
            margin-top: 3px;
            padding-right: 5px;
            fill: #db4437;
            width: 18px;
            height: 18px;
          }
        }
    }

    ul.foot-nav {
      margin: 0 1em 1em;

      li {
        position: relative;
        display: inline-block;
        margin-right:15px;
        margin-bottom: 12px;
        color: #4A4A4A;
        -webkit-transition: all ease-in-out 0.3s;
        -moz-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s;

        &:before {
          margin-top: -6px;
          font-size: 18px;
          display: inline-block;
          position: absolute;
          top: 6px;
          left: 0;

        }

        &:hover, &:hover a {
            color: #ff6706;
        }

        a {
          color: #4A4A4A;
          font-size: 0.875em;
          padding-left:20px;
          margin-top: -2px;

        }
      }
    }

    small.copyright {
      font-size: 0.875em;
      font-family: 'Ubuntu', sans-serif;
      color: #777;

    }
  }
}

#goTop {
  color: #4A4A4A;
  font-size: 1.2em;
  font-weight: 400;
  display: none;
  // opacity: 0.8;
  position: fixed;
  bottom: 60px;
  right: 16px;
  width: 48px;
  height: 48px;
  // background: #ccc;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;

  &:hover {
    // background: #4A4A4A;
    color: #FFF;
  }
}

.Kare-content {
  padding-top: 56px;
  padding-bottom: 50px;
  width: 100%;
  img {
    display: block;
  }
}

.tabbar {
  position: fixed;
  width: 100%;
  height: 68px;
  bottom: 0;
  right: 0;
  left: 0;
}







